/*
*************************
	* CONTENT
*************************
*/

#content{
	background: #c72121;
	min-height: 450px;
	padding: 0em 7em;

}

/*
*************************
    * CONTENT STYLE
*************************
*/

#viewPage-menu li, #reports li{
    color: #212121;
    background: #ECECEC;
    border: 1px solid #FFF;
    height: 45px;
}

#viewPage-menu a{
    text-decoration: none;
}

#viewPage-menu a:hover, #addPage-menu a:hover{
    text-decoration: underline;
}

#viewPage-menu{
    margin: auto;
    position: relative;
    top: 50px;
    right: 0;
    left: 0;
    width: 500px;
    min-height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px solid #FFF;
}

#reports{
    position: relative;
    top: -9999px;
}

#viewPage-menu li:hover #reports {
    position: relative;
    top: 0;
}
