/*
*************************
	* CONTENT
*************************
*/

#content{
	background: #c72121;
	min-height: 800px;
	padding: 0em 7em;
}

/*
*************************
	* CONTENT STYLE
*************************
*/
#form-style{
    position: absolute;
    left: 200px;
    top: 150px;
	margin: auto;
	width: 610px;
    min-height: 100px;
    padding: 10px 10px 10px 20px;
    font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid #c72121;
    color: black;
    background: #FFF;
}

#form-style h1{
    text-align: center;
}

#form-style h1, h2{
	 color: black;
}

#form-style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

#form-style label{
	width:150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding:3px;
}

#form-style input {
    width:200px; 
}

#form-style button{
    margin-right: 156px;
}


#form-style input[type=submit], #form-style input[type=button]{
    background: #c72121;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #FFF;
}
#form-style input[type=submit]:hover, #form-style input[type=button]:hover{
    cursor: pointer;
}

.required{
	color: red;
	padding-left: 2px;
}

