body{
}

#form-style{
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 10px auto;
	max-width: 1000px;
    height: 500px;
    padding: 10px 10px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 5px solid #9c9c9c;
    background: #FFF;

}

#form-style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

#fullname li, #physique li , #address-not li, #address-req li, #blood li{
	display: inline-block;

}

#form-style label{
	margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    text-decoration: underline;
}
#form-style input[type=text]:focus, 
#form-style input[type=date]:focus, 
#form-style input[type=number]:focus{
	-moz-box-shadow: 0 0 8px #9c9c9c;
    -webkit-box-shadow: 0 0 8px #9c9c9c;
    box-shadow: 0 0 8px #9c9c9c;
    border: 1px solid #9c9c9c;
}

#form-style input[type=submit], #form-style input[type=button]{
    background: #9c9c9c;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
#form-style input[type=submit]:hover, #form-style input[type=button]:hover{
    background: #9c9c9c;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor: pointer;
}

.required{
	color: red;
	padding-left: 2px;
}