/*
*************************
	* CONTENT
*************************
*/

#content{
	background: #c72121;
	min-height: 450px;
	padding: 0em 7em;

}

/*
*************************
    * CONTENT STYLE
*************************
*/

#viewPage-menu li, #addPage-menu li{
    padding-left: 10px;
}


#viewPage-menu a, #addPage-menu a{
    text-decoration: none;
    color: #FFF;
}

#viewPage-menu a:hover, #addPage-menu a:hover{
    text-decoration: underline;
}

#viewPage-menu, #addPage-menu{
    position: relative;
    top: 50px;
    color: #FFF;
    width: 400px;
    min-height: 100px;
    font-size: 35px;
    border: 2px solid #FFF;
}


