/*
*************************
	* CONTENT
*************************
*/

#form-style{
	position: absolute;
	top: 250px;
	width: 700px;
	min-height: 700px;
}

#content h2{
	position: relative;
	top: 0;
	font-size: 30px;
	background: #c72121;
	color: #FFF;
}

#content table{
	background: #FFF;
}


